@import "../../node_modules/bootstrap/scss/bootstrap";

// Colours

$primary-font-colour: #1e2245;
$secondary-font-colour: #6e707b;
$main-green: #008c95;
$main-green-hover: #036167;

html * {
  font-family: "DM Sans", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

// Custom fonts

$custom-fs-1-125rem: 1.125rem;
$custom-fs-2-125rem: 2.125rem;
$custom-fs-2-375rem: 2.375rem;
$custom-fs-3-625rem: 3.625rem;

// Responsive font classes

.fs-1-to-1-125 {
  font-size: 1rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-125rem;
  }
}

.fs-2-375-to-3 {
  font-size: $custom-fs-2-375rem;

  @include media-breakpoint-up("lg") {
    font-size: 3rem;
  }
}

.fs-2-125-to-fs-3-625 {
  font-size: $custom-fs-2-125rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-3-625rem;
  }
}

// Colour classes

.header-colour {
  color: $primary-font-colour;
}

.text-colour {
  color: $secondary-font-colour;
}

.main-green {
  background: $main-green;
}

.request-button {
  font-size: 0.75rem;
}

// Banner

.banner {
  height: 300px;
}

.banner-frontpage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 300px;
}

// Buttons

.request-button {
  appearance: none;
  background-color: $main-green;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 5px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "DM Sans", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 8px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.request-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.request-button:hover {
  background-color: $main-green-hover;
}

.request-button:focus {
  box-shadow: rgba(3, 97, 103, 0.4) 0 0 0 3px;
  outline: none;
}

.request-button:active {
  background-color: $main-green-hover;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

// Gradients

// Constant dark overlay

.gradient-container {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(48, 48, 48, 0.6));
  }
}

// Media queries

@media screen and (min-width: 768px) {
  .request-button {
    font-size: 1rem;
  }

  .banner {
    height: 600px;
  }

  .banner-frontpage img {
    min-height: 600px;
  }

  .frontpage-text-content {
    max-width: 75%;
  }
}
